{% extends 'app1/base1.html'%}

{% block title %}About Page{% endblock%}

{%block content%}
<div>
More than three decades back, as a young 13 year old boy , Sylvester, founder of ‘My Angels Academy’ (MAA) comprehended the true
meaning of success and happiness which lies not with one but with all. He embarked on a transformational journey through love and
football giving “ANGELS” to us.

As Sylvester affectionately calls his students at My Angels Academy, “Angels “are the underprivileged children. MAA is a phenomenal
story of transforming these children who were rag-pickers, petty thieves, drug addicts and even religious fundamentalists to “angels
“of dignity, honesty and respect.

</div>
<div>
More than three decades back, as a young 13 year old boy , Sylvester, founder of ‘My Angels Academy’ (MAA) comprehended the true
meaning of success and happiness which lies not with one but with all. He embarked on a transformational journey through love and
football giving “ANGELS” to us.

As Sylvester affectionately calls his students at My Angels Academy, “Angels “are the underprivileged children. MAA is a phenomenal
story of transforming these children who were rag-pickers, petty thieves, drug addicts and even religious fundamentalists to “angels
“of dignity, honesty and respect.
</div>
{%endblock%}