{% extends 'app1/base1.html '%}
{% load static %}
{% block title %}Home Page{% endblock %}

{%block content%}

<!--for banner -->
<div class="containt-fluid">
    <div class="row">
        <img src="{% static 'app1/images/banner.jpg' alt='banner'  %}" class='banner_image'>
    </div>
</div>
<br><br>
<!--About-->
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="{% static 'app1/images/dark.jpg'%}" alt="Notebook" style="width:100%;" >
       <div class="content">
        <h1>Who We Are</h1>
        <p>A non-governmental organization, or NGO, is an organization established by a group of individuals that wishes to pursue goals and aspirations
          that relate to the public, social, or political good of a nation or the world. NGOs focus on a wide range of issues and
            areas.</p>
       </div>
    </div>
    <div class="col-6">
      <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Enriching Education
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Education is the key to aware the people.</strong> We provide brand new books to over 1,000 school libraries every year and support teachers to bring those books to life.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Providing Health Information
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Health care is require to everybody  in the world.</strong>When you’ve been forced to flee your home, books can help you believe that a better world is still possible – so we provide thousands of brand new books to refugees every year.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Reaching Refugees
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This can happen to anybody in the society.</strong>When you’ve been forced to flee your home, books can help you believe that a better world is still possible – so we provide thousands of brand new books to refugees every year.
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

<br><br>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
<div class="container carousel-inner no-padding" data-ride="carousel">
  <div class="col-xs-3 col-sm-3 col-md-3">
    {% for cat in cats %}
    <div class="card" style="width: 18rem;">
      <img src="/media/{{cat.image}}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{cat.title}}</h5>
        <p class="card-text">{{cat.description | truncatewords:30 | safe}}</p>
        <a href="/catpost/{{cat.url}}" class="btn btn-primary">view</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>






<!--<div class="container carousel-inner no-padding" data-ride="carousel">-->
<!--  <div class="carousel-item active">-->
<!--    {% for cat in cats %}-->
<!--    <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--      <div class="card" style="width:18 rem;">-->
<!--        <img src="/media/{{cat.image}}" class="card-img-top" alt="">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">-->
<!--            {{cat.title}}-->
<!--          </h5>-->
<!--          <p class="card-text">{{cat.description | truncatewords:30 | safe}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% if foorloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}-->
<!--  </div>-->
<!--  <div class="carousel-item">-->
<!--    {% endif %}-->
<!--    {% endfor %}-->
<!--  </div>-->
<!--</div>-->

<!--card item showing -->
<!--<div class="card-group">-->
<!--  {% for cat in cats %}-->
<!--  <div class="card">-->
<!--    <img src="/media/{{cat.image}}" class="responsive-img" alt="image">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">{{cat.title}}</h5>-->
<!--      <p class="card-text">{{cat.description | truncatewords:30 | safe}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  {% endfor %}-->
<!--</div>-->

<!--<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">-->
<!--&lt;!&ndash; {% for cat in cats %}&ndash;&gt;-->
<!--  <div class="carousel-inner">-->
<!--    {-->
<!--    <div class="carousel-item active">-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--          <img src="/media/{{cat.image}}" class="responsive-img" alt="image">-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->

<!--  </div>-->
<!--&lt;!&ndash;  {% endfor %}&ndash;&gt;-->

<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->

<!--</div>-->


<!--<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">-->
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--  </div>-->
<!--  <div class="test">-->
<!--  <div class="carousel-inner">-->
<!--    {% for cat in cats %}-->
<!--    <div class="carousel-item active">-->
<!--      <img src="/media/{{cat.image}}"  class="d-block w-100" alt="image">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>First slide label</h5>-->
<!--        <p>Some representative placeholder content for the first slide.</p>-->
<!--      </div>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->

<!--  {% for review in cats|slice:":3" %}-->
<!--    <div class="carousel-inner">-->
<!--    {% if forloop.counter0|divisibleby:"3" %}-->
<!--     <div class="active item">-->
<!--       <img src="/media/{{cat.image}}" alt="image">-->
<!--    {% else %}-->
<!--    <div class="item">-->
<!--    {% endif %}-->
<!--    <blockquote>-->

<!--         <p>{{ review.title }}</p>-->
<!--    </blockquote>-->
<!--    </div>-->
<!--{% endfor %}-->







{% endblock content %}